<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
        <a href={% url "index" %} class="navbar-brand">Магазин книжек</a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                <button class="btn btn-outline-success" type="submit">Найти</button>
            </form>
        </div>
    </nav>
    <main class="container">{% block my_content%} {% endblock %}</main>
</body>
<footer class="py-3 my-4" style="bottom: 0;">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href={% url "admin:index" %} class="nav-link px-2 text-body-secondary">Панель администратора</a></li>
        <li class="nav-item"><a href={% url "bulgakov" 5 %} class="nav-link px-2 text-body-secondary">Произведения Михаила Булгакова</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2026 Магазин книжек</p> </footer>
</html>